<section class="section" id="about-us">
  <div class="container about-us-container">
    <h2 class="section-title">About the Game</h2>
    <p class="about-us-text">
      Bubble Candy is an exciting bubble-shooting puzzle game that takes you on
      a sweet adventure. Players aim, shoot, and match colorful bubbles to clear
      levels and unlock special rewards. With hundreds of levels and fun
      power-ups, Bubble Candy is perfect for players who enjoy engaging,
      easy-to-learn puzzle games.
    </p>
    <div class="about-us-ellipses-wrp">
      <img
        class="ellipse-1"
        src="/assets/img/Ellipses/ellipse-15.png"
        alt="ellipse"
      /><img
        class="ellipse-2"
        src="/assets/img/Ellipses/ellipse-24.png"
        alt="ellipse"
      /><img
        class="ellipse-3"
        src="/assets/img/Ellipses/ellipse-34.png"
        alt="ellipse"
      /><img
        class="ellipse-4"
        src="/assets/img/Ellipses/ellipse-17.png"
        alt="ellipse"
      /><img
        class="ellipse-5"
        src="/assets/img/Ellipses/ellipse-19.png"
        alt="ellipse"
      /><img
        class="ellipse-6"
        src="/assets/img/Ellipses/ellipse-34.png"
        alt="ellipse"
      /><img
        class="ellipse-7"
        src="/assets/img/Ellipses/ellipse-16.png"
        alt="ellipse"
      />
    </div>
  </div>
</section>
