<section class="section">
  <div class="container">
    <h2 class="section-title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-list__item">
        <svg width="24" height="24">
          <use href="/assets/sprite.svg#icon-StarFill"></use>
        </svg>
        <p>4.7</p>
      </li>
      <li class="benefits-list__item">
        <svg width="24" height="24">
          <use href="/assets/sprite.svg#icon-Download"></use>
        </svg>
        <p>Over 1 Million</p>
      </li>
      <li class="benefits-list__item">
        <svg width="24" height="24">
          <use href="/assets/sprite.svg#icon-HandThumbsUpFill"></use>
        </svg>
        <p>Over 15,000</p>
      </li>
      <li class="benefits-list__item">
        <svg width="24" height="24">
          <use href="/assets/sprite.svg#icon-WifiOff"></use>
        </svg>
        <p>Offline</p>
      </li>
    </ul>
  </div>
</section>
