<section class="section" id="gallery">
  <div class="container">
    <h2 class="section-title">Gallery</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            src="/assets/img/gallery/gallery-slide-1.jpg"
            alt="game screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/gallery/gallery-slide-2.jpg"
            alt="game screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/gallery/gallery-slide-3.jpg"
            alt="game screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/gallery/gallery-slide-4.jpg"
            alt="game screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/gallery/gallery-slide-5.jpg"
            alt="game screenshot"
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
