<header class="header">
  <div class="container header-container">
    <a href="#home" class="header-link"
      ><picture
        ><source
          srcset="
            /assets/img/logo-main-24x24.webp  1x,
            /assets/img/logo-main-500x500.png 2x
          "
          media="(max-width: 1199.98px)"
          width="24"
          height="24" />
        <source
          srcset="/assets/img/logo-main-500x500.png"
          media="(min-width: 1200px)"
          width="60"
          height="60" />
        <img src="/assets/img/logo-main-500x500.png" alt="main logo" /></picture
    ></a>
    <div class="header-nav-wrp">
      <nav class="nav-desktop">
        <ul class="nav-desktop-list">
          <li class="nav-desktop-item">
            <a class="link nav-desktop-link" href="#home">Home</a>
          </li>
          <li class="nav-desktop-item">
            <a class="link nav-desktop-link" href="#about-us">About the Game</a>
          </li>
          <li class="nav-desktop-item">
            <a class="link nav-desktop-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-desktop-item">
            <a class="link nav-desktop-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-desktop-item">
            <a class="link nav-desktop-link" href="#how-to-play">How to Play</a>
          </li>
          <li class="nav-desktop-item">
            <a class="link nav-desktop-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
      <a
        class="google-play-button"
        href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.bubblecandy"
        class="link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <img
          class="google-play-btn-icon"
          src="/assets/img/google-play-icon@1x.png"
          alt="google play button"
          srcset="
            /assets/img/google-play-icon@1x.png 1x,
            /assets/img/google-play-icon@2x.png 2x
          "
        />
        <p class="google-play-btn-text">
          Get it on <span class="google-play-btn-text-strong">Google play</span>
        </p></a
      >
    </div>
    <button
      type="button"
      class="header-menu-button open js-open-menu"
      aria-expanded="false"
      aria-controls="mob-menu"
    >
      <svg class="header-burger-icon" width="24" height="24">
        <use href="/assets/sprite.svg#icon-FilterRight"></use>
      </svg>
    </button>
  </div>
  <div class="overlay-menu js-menu-container">
    <div class="mobile-menu">
      <button type="button" class="header-menu-button close js-close-menu">
        <svg class="header-burger-icon" width="24" height="24">
          <use href="/assets/sprite.svg#icon-XLg"></use>
        </svg>
      </button>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="link nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="#about-us">About the Game</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="#how-to-play">How to Play</a>
          </li>
          <li class="nav-item"><a class="link nav-link" href="#faq">FAQ</a></li>
        </ul>
      </nav>
      <div class="mobile-menu-copyright">
        <p>
          <a href="./privacy-policy.html">Privacy Policy</a> /
          <a href="./terms-and-conditions.html">Terms and conditions</a>
        </p>
        <p>&copy;2024 GreatStarQuest.com, All rights reserved</p>
      </div>
    </div>
  </div>
</header>
