<header class="header">
  <div class="container header-container">
    <a href="/" class="header-link"
      ><img src="../assets/img/logo-main-24x24.webp" alt="main logo"
    /></a>
    <button
      type="button"
      class="header-menu-button open js-open-menu"
      aria-expanded="false"
      aria-controls="mob-menu"
    >
      <svg class="header-burger-icon" width="24" height="24">
        <use href="../assets/sprite.svg#icon-FilterRight"></use>
      </svg>
    </button>
  </div>
  <div class="overlay-menu js-menu-container">
    <div class="mobile-menu">
      <button type="button" class="header-menu-button close js-close-menu">
        <svg class="header-burger-icon" width="24" height="24">
          <use href="../assets/sprite.svg#icon-XLg"></use>
        </svg>
      </button>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About the Game</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="/">Benefits</a></li>
          <li class="nav-item"><a class="nav-link" href="/">How to Play</a></li>
          <li class="nav-item"><a class="nav-link" href="/">FAQ</a></li>
        </ul>
      </nav>
      <div class="mobile-menu-copyright">
        <p>
          <a href="../privacy-policy.html">Privacy Policy</a> /
          <a href="../terms-and-conditions.html">Terms and conditions</a>
        </p>
        <p>&copy;2024 GreatStarQuest.com, All rights reserved</p>
      </div>
    </div>
  </div>
</header>
