<section class="hero" id="home">
  <div class="container hero-container">
    <video
      width="240"
      height="401"
      controls
      autoplay
      muted
      loop
      class="hero-video"
    >
      <source src="/assets/video/bubble-candy-demo.webm" type="video/webm" />
      <source src="/assets/video/bubble-candy-demo.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="hero-cta">
      <h1 class="hero-title">Bubble Candy</h1>
      <p class="hero-text">
        Pop the bubbles, solve puzzles, and dive into a world of sweet candy!
      </p>
      <a
        class="google-play-button hero-google-play-button"
        href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.bubblecandy"
        class="link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <img
          class="google-play-btn-icon hero-google-play-btn-icon"
          src="/assets/img/google-play-icon@1x.png"
          alt="google play button"
          srcset="
            /assets/img/google-play-icon@1x.png 1x,
            /assets/img/google-play-icon@2x.png 2x
          "
        />
        <p class="google-play-btn-text hero-google-play-btn-text">
          Get it on <span class="google-play-btn-text-strong">Google play</span>
        </p></a
      >
    </div>
  </div>
</section>
