<section class="hero" id="home">
  <div class="container hero-container">
    <video
      width="240"
      height="401"
      controls
      autoplay
      muted
      loop
      class="hero-video"
    >
      <source src="/assets/video/bubble-candy-demo.webm" type="video/webm" />
      <source src="/assets/video/bubble-candy-demo.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="hero-cta">
      <h1 class="hero-title">Bubble Candy</h1>
      <p class="hero-text">
        Pop the bubbles, solve puzzles, and dive into a world of sweet candy!
      </p>
      <a
        class="hero-button"
        href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.bubblecandy"
        class="link"
        target="_blank"
        rel="noopener noreferrer nofollow"
        ><img
          class="hero-img"
          src="/assets/img/button-google-play-black.png"
          alt="Google Play download icon"
      /></a>
    </div>
  </div>
</section>
