<section class="hero" id="home">
  <div class="container hero-container">
    <img
      class="hero-video"
      src="../assets/img/hero-temporary-image.jpg"
      alt="temporary"
    />
    <h1 class="hero-title">Bubble Candy</h1>
    <p class="hero-text">
      Pop the bubbles, solve puzzles, and dive into a world of sweet candy!
    </p>
    <a
      class="hero-button"
      href="#"
      class="link"
      target="_blank"
      rel="noopener noreferrer nofollow"
      ><img
        class="hero-img"
        src="../assets/img/button-google-play-black-288.png"
        alt="Google Play download icon"
    /></a>
  </div>
</section>
