.benefits-list {
  display: flex;
  gap: 13px 16px;

  &__item {
    @include font(18, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;

    flex-basis: calc((100% - 16px) / 2);
    padding: 16px 14px 20px;
    border-radius: 20px;
  }

  &__item:nth-child(1) {
    background: linear-gradient(154deg, #f09cfa 0%, #b464ca 100%);
  }

  &__item:nth-child(2) {
    background: linear-gradient(159deg, #bdf61a 0%, #6f900f 99.25%);
  }

  &__item:nth-child(3) {
    background: linear-gradient(152deg, #ffdc45 0%, #f6970a 100%);
  }

  &__item:nth-child(4) {
    background: linear-gradient(154deg, #1cdfef 0%, #0b9deb 100%);
  }
}

@include media(to-desktop) {
  .benefits-list {
    flex-wrap: wrap;
  }

  .cannon {
    display: none;
  }
}

@include media(desktop) {
  .benefits-list {
    gap: 0px 24px;
    margin-bottom: 168px;

    &__item {
      @include font(32, 39);
      flex-basis: calc((100% - 72px) / 4);
      row-gap: 23px;
      padding: 25px 25px 33px;
    }

    &__item > svg {
      width: 40px;
      height: 40px;
    }
  }

  .cannon {
    position: relative;
    width: 163px;
    height: 215px;

    margin: 0 auto;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    transform-origin: center;
    animation: rotation 3000ms ease-in-out infinite alternate;
  }

  .cannon[data-clickMe]::before {
    content: 'Shoot!';
    position: absolute;
    left: -30%;
    top: 40%;
    color: black;
    opacity: 0;
    animation: fliking 1500ms ease-in infinite;
  }

  .cannon[data-clickMe]::after {
    content: 'Shoot!';
    position: absolute;
    top: 80%;
    right: -30%;
    color: black;
    opacity: 0;
    animation: fliking 1500ms ease-in 750ms infinite;
  }

  @keyframes fliking {
    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  .cannonball {
    position: absolute;
    top: -75px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateX(-50%);
    z-index: -1;

    &.animation {
      animation: loading 250ms ease-in-out;
    }
  }

  @keyframes loading {
    0% {
      top: 10%;
    }

    100% {
      top: -75px;
    }
  }

  .bullet {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    background-image: url('../assets/img/candy-cannon/brown-cannonball.png');

    transition: transform 1000ms linear;
  }

  .bullet {
    animation: fly 1000ms linear forwards;
  }

  @keyframes fly {
    75% {
      opacity: 0.85;
    }

    100% {
      opacity: 0;
    }
  }
}
