.gallery-container {
  padding: 0 8px;
}

.swiper {
  width: 302px;
  height: 398px;
}

.swiper .swiper-wrapper {
  width: 242px;
}

.swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-slide img {
  display: block;
  width: 242px;
  height: 357px;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-prev {
  background-image: url('/assets/ChevronLeft.svg') !important;
  left: -4px !important;
}

.swiper-button-next {
  background-image: url('/assets/ChevronRight.svg') !important;
  right: -4px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-pagination .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  background-size: 16px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  transition: transform 250ms ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet-active {
  transform: scale(1.7);
}

.swiper-pagination .swiper-pagination-bullet:nth-child(1) {
  background-image: url(/assets/img/gallery/ellipse-blue.png);
}

.swiper-pagination .swiper-pagination-bullet:nth-child(2) {
  background-image: url(/assets/img/gallery/ellipse-brown.png);
}

.swiper-pagination .swiper-pagination-bullet:nth-child(3) {
  background-image: url(/assets/img/gallery/ellipse-pink.png);
}

.swiper-pagination .swiper-pagination-bullet:nth-child(4) {
  background-image: url(/assets/img/gallery/ellipse-green.png);
}

.swiper-pagination .swiper-pagination-bullet:nth-child(5) {
  background-image: url(/assets/img/gallery/ellipse-orange.png);
}

@include media(desktop) {
  .gallery-container {
    padding: 0 15px;
  }

  .gallery-container .swiper {
    width: 918px;
    height: 433px;
    padding: 0 32px;
  }

  .swiper .swiper-wrapper {
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
  }

  .swiper-pagination .swiper-pagination-bullet {
    background-size: 20px;
    width: 20px;
    height: 20px;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    transform: scale(1.75);
  }
}
